{
  "files": {
    "includes": [
      "{{ typescript_workspace }}/**",
      "!{{ typescript_workspace }}/dist",
      "!{{ typescript_workspace }}/coverage"
    ]
  },
  "formatter": {
    "enabled": true,
    "indentStyle": "space",
    "indentWidth": 2
  },
  "linter": {
    "enabled": true,
    "rules": {
      "preset": "recommended"
    }
  }
}
