{
  "include": ["{{ python_workspace }}/src", "{{ python_workspace }}/tests", "{{ python_workspace }}/examples"],
  "exclude": ["**/__pycache__", ".venv", ".mypy_cache", ".pytest_cache", ".ruff_cache", "node_modules"],
  "pythonVersion": "{{ python_min }}",
  "typeCheckingMode": "{{ python_typecheck_mode }}",
  "venvPath": ".",
  "venv": ".venv",
  "executionEnvironments": [
    {
      "root": ".",
      "extraPaths": ["{{ python_workspace }}/src"]
    }
  ],
  "reportMissingTypeStubs": "warning"
}
